name: Testing the action

on: 
  push:

  workflow_dispatch:
    
jobs:
  build: # make sure build/ci work properly
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' # don't run on PRs
    steps:
      - uses: actions/checkout@v2
      - run: npm ci
      - run: npm run all

  test-tag-a-user:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' # don't run on PRs or branches
    steps: 
      - uses: actions/checkout@v2 # this will checkout the compiled Typescript

      - run: |
          echo "Hello"
          echo "GITHUB_TOKEN: ${GITHUB_TOKEN}"

      - uses: hmarr/debug-action@v2

      - uses: ./ # load and run local action
        name: Tag a user
        with: 
          issue: 1
          team: rajbos