name: Testing the action

on: 
  push:

  workflow_dispatch:

permissions:
  contents: read
  issues: write
    
jobs:
  build: # make sure build/ci work properly
    runs-on: ubuntu-latest
    #if: github.ref == 'refs/heads/main' # don't run on PRs
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4.1.0
        with:
          node-version: '24'
          cache: 'npm'
      - run: npm ci
      - run: npm run all

  test-tag-a-user:
    needs: build
    runs-on: ubuntu-latest
    #if: github.ref == 'refs/heads/main' # don't run on PRs or branches
    steps: 
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v3.3.0 # this will checkout the compiled Typescript
      
      #- uses: hmarr/debug-action@v2

      - uses: ./ # load and run local action
        name: Tag a user
        with: 
          issue: 1
          team: rajbos
          owner: ${{ github.repository_owner }}
          repo: ${{ github.repository }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}